/* Base styles and helper stuff */
#stepProgressBar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.step {
	text-align: center;
}
.step-text {
	margin-bottom: 10px;
	color: $orangeRed;
}
.bullet {
	background-color: white;
	border: 1px solid $orangeRed;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	color: $orangeRed;
	display: inline-block;
	position: relative;
	transition: background-color 500ms;
	line-height: 20px;
}
.bullet.completed {
	color: white;
	background-color: $darkOrange;
	&::after {
		content: '';
		position: absolute;
		right: -105px;
		bottom: 10px;
		height: 1px;
		width: 100px;
		background-color: $darkOrange;
	}
}
.hidden {
	display: none;
}
button {
	padding: 5px 10px;
	border: 1px solid black;
	transition: 250ms background-color;
	&:hover {
		cursor: pointer;
		background-color: black;
		color: white;
	}
	&:disabled {
		&:hover {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}
}
.text-center {
	text-align: center;
}
.container {
	margin: 0 auto;
	margin-top: 20px;
	
}
